.bestselling_product_list_wrapper .product.slick-slide {
    padding: 0 15px;
}
.bestselling_product_list_wrapper.layout-gird > .product {
    padding: 0 15px;
}
a.float-md-right.all_best_sellers:not(:hover) {
    color: #777;
}
.bestselling_product_list_wrapper  button.slick-arrow {
    background: transparent;
    border: none;
    font-size: 0;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    cursor: pointer;
    outline: none!important;
    z-index: 1;
    margin: 0 -15px;
}

.bestselling_product_list_wrapper button.slick-arrow.slick-next {
    left: auto;
    right: 0;
}

.bestselling_product_list_wrapper button.slick-arrow.slick-prev:before {
    content: "";
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    left: 10px;
}

.bestselling_product_list_wrapper button.slick-arrow.slick-next:before {
    content: "";
    border-right: 1px solid #666;
    border-top: 1px solid #666;
    width: 18px;
    height: 18px;
    position: absolute;
    transform: rotate(45deg);
    right: 10px;
    left: auto;
}

.bestselling_product_list_wrapper button.slick-arrow:hover:before{
    border-color: #24b9d7!important;
}
.bestselling_product_list_section.left_right .products-section-title {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin: 16px .8125rem 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.bestselling_product_list_section .thumbnail-container,
.bestselling_product_list_section .thumbnail-container * {
    max-width: 100%;
}

section.bestselling_product_list_section.left_right {
    display: block;
    width: calc(100% + 30px);
    flex-wrap: wrap;
    margin-left: -15px;
    margin-bottom: 30px;
    position: relative;
}
section.bestselling_product_list_section.left_right .left.bestselling_product_list_wrapper {
    display: block;
    width: 100%;
    position: static;
}
section.bestselling_product_list_section.left_right .all_best_sellers {
    margin-left: 15px;
    margin-right: 5px;
}
.bestselling_product_list_section.left_right .product {
    padding: 0;
}
.bestselling_product_list_section.left_right .bestselling_product_list_wrapper:hover button.slick-arrow {
    opacity: 1;
}
.bestselling_product_list_section.left_right .bestselling_product_list_wrapper button.slick-arrow {
    margin: 0 15px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,0.3);
    height: 36px;
    opacity: 0;
    transition: all 0.2s;
}
.bestselling_product_list_section.left_right .bestselling_product_list_wrapper button.slick-arrow:before {
    width: 14px;
    height: 14px;
    top: 9px;
}
.bestselling_product_list_wrapper .product-miniature .highlighted-informations {
    width: 100%;
}
@media (min-width: 0px){
    .ets_bs_mobile_1 > .product{
        width: 8.33333%;
    }
    .ets_bs_mobile_2 > .product{
        width: 16.666%;
    }
    .ets_bs_mobile_3 > .product{
        width: 25%;
    }
    .ets_bs_mobile_4 > .product{
        width: 33.33%;
    }
    .ets_bs_mobile_5 > .product{
        width: 41.66667%;
    }
    .ets_bs_mobile_6 > .product{
        width: 50%;
    }
    .ets_bs_mobile_7 > .product{
        width: 58.33333%;
    }
    .ets_bs_mobile_8 > .product{
        width: 66.66667%;
    }
    .ets_bs_mobile_9 > .product{
        width: 75%;
    }
    .ets_bs_mobile_10 > .product{
        width: 83.33333%;
    }
    .ets_bs_mobile_11 > .product{
        width: 91.66667%;
    }
    .ets_bs_mobile_12 > .product{
        width: 100%;
    }
}
@media (min-width: 768px){
    .ets_bs_tablet_1 > .product{
        width: 8.33333%;
    }
    .ets_bs_tablet_2 > .product{
        width: 16.666%;
    }
    .ets_bs_tablet_3 > .product{
        width: 25%;
    }
    .ets_bs_tablet_4 > .product{
        width: 33.33%;
    }
    .ets_bs_tablet_5 > .product{
        width: 41.66667%;
    }
    .ets_bs_tablet_6 > .product{
        width: 50%;
    }
    .ets_bs_tablet_7 > .product{
        width: 58.33333%;
    }
    .ets_bs_tablet_8 > .product{
        width: 66.66667%;
    }
    .ets_bs_tablet_9 > .product{
        width: 75%;
    }
    .ets_bs_tablet_10 > .product{
        width: 83.33333%;
    }
    .ets_bs_tablet_11 > .product{
        width: 91.66667%;
    }
    .ets_bs_tablet_12 > .product{
        width: 100%;
    }
}
@media (min-width: 1200px){
    .ets_bs_desktop_1 > .product{
        width: 8.33333%;
    }
    .ets_bs_desktop_2 > .product{
        width: 16.666%;
    }
    .ets_bs_desktop_3 > .product{
        width: 25%;
    }
    .ets_bs_desktop_4 > .product{
        width: 33.33%;
    }
    .ets_bs_desktop_5 > .product{
        width: 41.66667%;
    }
    .ets_bs_desktop_6 > .product{
        width: 50%;
    }
    .ets_bs_desktop_7 > .product{
        width: 58.33333%;
    }
    .ets_bs_desktop_8 > .product{
        width: 66.66667%;
    }
    .ets_bs_desktop_9 > .product{
        width: 75%;
    }
    .ets_bs_desktop_10 > .product{
        width: 83.33333%;
    }
    .ets_bs_desktop_11 > .product{
        width: 91.66667%;
    }
    .ets_bs_desktop_12 > .product{
        width: 100%;
    }
}